<div class="container">
  
  <div class="header">
    <nz-dropdown class="menu">
      <a nz-dropdown class="menu__button">
        MENU <i nz-icon type="down"></i>
      </a>

      <ul nz-menu nzSelectable class="menu__list">
        <li nz-menu-item (click)="restart()" class="menu__item">
          NEW GAME
        </li>
        <li nz-menu-item class="menu__item">
          <rules-button></rules-button>
        </li>
      </ul>
    </nz-dropdown>

    <h1 class="title">2048</h1>
    
  </div>


  <game-playground></game-playground>
</div>