<nz-layout>
  <nz-header class="header">
    <nz-dropdown class="menu">
      <a nz-dropdown class="menu__button">
        Menu <i nz-icon type="down"></i>
      </a>

      <ul nz-menu nzSelectable class="menu__list">
        <li nz-menu-item (click)="startNewGame()">
          New game
        </li>
        <li nz-menu-item>
          <rules-button></rules-button>
        </li>
      </ul>
    </nz-dropdown>

    <div class="header__logo">
      2048
    </div>
  </nz-header>
  <nz-content>
    <game-playground></game-playground>
  </nz-content>
</nz-layout>