.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    .title {
        font-size: $title-font-size;
        font-weight: bold;
        margin: 0;
        display: block;
        color: inherit;
    }

}

.menu {
    font-size: 18px;

    &__button {
        @include button;
        display: inline-block;
        text-align: center;
    }

    &__list {
        background-color: $tile-color;
        padding: 10px 0;
    }

    &__item {
        font-weight: bold;
        font-size: 15px;
        color: $text-color;
        padding: 12px 18px;

        &:hover {
            background-color: darken($game-container-background, 20%);
            color: white;
        }
    }
}

.rules-modal {
    &__title {
        color: $text-color;
        font-size: 20px;
        font-weight: bold;
    }
    &__button {
        @include button;
    }
}

@include smaller($mobile-threshold) {
    .header {
        .title {
            font-size: $title-font-size-min;
        }
    }
}