$background-color: #faf8ef;
$text-color: #776E65;
$font: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

$body-padding: 20px auto;
$field-width: 500px;
$field-width-min: 280px;

$title-font-size: 80px;
$title-font-size-min: 35px;

$game-container-margin-top: 40px;
$game-container-margin-top-min: 15px;
$game-container-background: #bbada0;

$grid-spacing: 15px;
$grid-spacing-min: 10px;
$grid-row-cells: 4;


$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$tile-border-radius: 3px;

$tile-size-min: ($field-width-min - $grid-spacing-min * ($grid-row-cells + 1)) / $grid-row-cells;



$mobile-threshold: $field-width + 20px;

$bright-text-color: #f9f6f2;

$tile-color: #eee4da;
$tile-gold-color: #edc22e;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);



$transition-speed: 100ms;